$maincol: #2f3640; //основной цвет текста
$maincolbg: #2c3e50; //основной цвет background-color
$btncol: #fff; // цвет текста кнопок
$radioSize: 22px; //для радио кнопок
$mainfz: 1.8rem; //основной размер шрифта
$mainlh: 2.2rem; //line-height
$subtitlefz: 2.4rem; //подзаголовки, меню размер шрифта
$subtitlelh: 2.8rem; //line-height
$btnfz: 3rem; //кнопки размер шрифта
$btnlh: 3.6rem; //line-height
$titlefz: 3.6rem; //заголовки размер шрифта
$titlelh: 4.4rem; //line-height
